<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Núcleo de Empreendedorismo da USP</title>
        <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
        <link href="/static/css/base.css" rel="stylesheet" type="text/css" />
        <script src="/static/js/jquery-1.7.1.min.js"></script>
        <script src="/static/js/slides.min.jquery.js"></script>
        <script>
            $(function(){
                $('#slides').slides({
                    preload: true,
                    preloadImage: '/static/images/loading.gif',
                    play: 5000,
                    pause: 2500,
                    hoverPause: true
                });
            });
        </script>
        <style>
            {% for menu_item in menu_items %}
            li#menu{{ forloop.counter }}:hover {
                background: {{ menu_item.color }};
            }
            {% endfor %}
            .pagination li.current a {
                background: {{ menu_item.color }};
                background-image: url('/static/images/circle.png');
            }
        </style>
    </head>
    <body>
        <div id="main">
            <div id="canvas">
                <div id="menu">
                    <ul>
                        {% for menu_item in menu_items %}
                            {% if menu_item.page %}
                            <a href="{{ menu_item.page.url }}">
                            {% else %}
                            <a href="#">
                            {% endif %}
                            <li id="menu{{ forloop.counter }}">{{ menu_item.name }}</li></a>
                        {% endfor %}
                    </ul>
                    <p style="clear: both"><img src="/static/images/border.png" /></p>
                </div>
                <div id="slides">
                    <p id="loading-image"><img src="/static/images/loading.gif" /></p>
                    <div class="slides_container">
                        {% for template in templates %}
                        <div style="background: url(/media/{{ template.image }})">
                            <h1 style="font-size: 30px; color: {{ menu_item.color }}">{{ template.title }}</h1>
                        </div>
                        {% endfor %}
                    </div>
                    <a href="#" class="prev"><img src="/static/images/arrow-prev.png" width="24" height="43" alt="Arrow Prev"></a>
                    <a href="#" class="next"><img src="/static/images/arrow-next.png" width="24" height="43" alt="Arrow Next"></a>
                </div>
            </div>
        </div>
    </body>
</html>
