* {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    text-decoration: none;
}

img {
    border: none;
}

li {
    list-style-type: none;
}

body {
    background: #ededed;
}

div#main {
    height: 609px;
    width: 800px;
    margin: 0 auto;
    margin-top: 10px;
    background: #fff;
    border: 1px solid #ccc;
}

div#menu {
    height: 40px;
    width: 826px;
    margin-top: -1px;
    position: relative;
    right: 25px;
    background: #000;
}

div#menu * {
    font-size: 17px;
    font-family: "PT Sans Narrow", Helvetica, Verdana, Arial, sans-serif;
    font-weight: bold;
    color: #fff;
}

div#menu li {
    display: inline;
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 40px;
}

div#slides {
    height: 570px;
    width: 800px;
    position: absolute;
    z-index: 100;
    background: #fff;
}

.slides_container {
    height: 550px;
    width: 780px;
    display: none;
    overflow: hidden;
    position: absolute;
    top: 10px;
    left: 10px;
}

.slides_container div {
    width: 780px;
    height: 550px;
}

.slides_container a {
    width: 780px;
    height: 550px;
    display: block;
}

#slides .next, #slides .prev {
    width: 24px;
    height: 43px;
    z-index: 101;
    display: block;
}

#slides .next {
    position: absolute;
    top: 268px;
    left: 800px;
}

#slides .prev {
    position: absolute;
    top: 268px;
    left: -24px;
}

.pagination {
    margin-top: 26px;
}

.pagination li {
    float: left;
    margin: 0 1px;
}

.pagination li a {
    display: block;
    width: 16px;
    height: 0;
    padding-top: 16px;
    background: #aaa;
    background-image: url('/static/images/circle.png');
    overflow: hidden;
}
