* {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, Verdana, Arial, Tahoma, sans-serif;
    font-size: 14px;
    color: #000;
}

img {
    border: none;
}

li {
    list-style-type: none;
}

body {
    background: #eee;
}

div#header {
    height: 45px;
    background-image: url('/static/images/top-bar-bg.png');
}

div#header-container {
    width: 700px;
    margin: 0 auto;
}

div#logo {
    height: 80px;
    width: 190px;
    float: left;
    text-align: center;
    position: relative;
    top: 20px;
}

div#logo-left {
    height: 80px;
    width: 20px;
    float: left;
    background-image: url('/static/images/roundbox_bl.png');
    background-repeat: no-repeat;
    background-position: left bottom;
}

div#logo-right {
    height: 80px;
    width: 170px;
    float: right;
    background-image: url('/static/images/roundbox_br.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}

img#logo-img {
    position: relative;
    top: -80px;
}

div#social {
    width: 250px;
    float: right;
    margin-top: 9px;
}

div#social ul {
    text-align: right;
}

div#social ul li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

div#social ul li img {
    height: 20px;
    width: 20px;
}

div#main {
    width: 1024px;
    height: 600px;
    margin: 0 auto;
}

div#content {
    width: 100%;
    height: 100%;
    background: #000;
}

div#menu {
    height: 50px;
    position: relative;
    top: -50px;
}

div#menu li {
    display: inline;
    float: left;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 47px;
    border: 1px solid #ba1d1d;
    border-left: 0px;
    background-image: url('/static/images/menu-gradient.png');
}

div#menu li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

div#footer {
}
