* {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    text-decoration: none;
}

img {
    border: none;
}

li {
    list-style-type: none;
}

body {
    background: #eee;
}

div#canvas {
    width: 1024px;
    margin: 0 auto;
}

div#main {
    height: 600px;
    margin-top: 10px;
}

div#content {
    height: 100%;
    background: #ccc;
}

div#menu {
    height: 40px;
    position: relative;
    top: -590px;
}

div#menu * {
    font-size: 20px;
    font-family: "PT Sans Narrow", Helvetica, Verdana, Arial, sans-serif;
    font-weight: bold;
    color: #fff;
}

div#menu li {
    display: inline;
    float: left;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 40px;
    background-image: url('/static/images/menu-gradient.png');
}

div#menu li:hover {
    background-image: url('/static/images/menu-gradient-hover.png');
}

div#social {
    width: 32px;
    position: relative;
    right: -1057px;
    top: -630px;
}

div#social li {
    margin-bottom: 10px;
}
